@font-face {
  font-family: "arimo-bold";
  src: url("./assets/fonts/Arimo-Bold.ttf");
}
@font-face {
  font-family: "arimo-semiBold";
  src: url("./assets/fonts/Arimo-Bold.ttf");
}
@font-face {
  font-family: "arimo-medium";
  src: url("./assets/fonts/Arimo-Medium.ttf");
}
@font-face {
  font-family: "arimo-regular";
  src: url("./assets/fonts/Arimo-Regular.ttf");
}

:root {
  --main-color: #3bb54a;
  --secondary-color: #81343d;
  --heading-color: #be2130;
  --white-color: #fff;
  --black-color: #000;
  --text-color: #346b42;
  --light-gray: #402a2c;
  --background-color: #ebe8e8;

  --light-black-color: #2c3539;
  --btn-color: var(--secondary-color);
  --light-btn-color: #81343d;
  --dark-btn-color: var(--main-color);
  --border-color: #d9d9d9;
  --ff-primary-bold: "arimo-bold";
  --ff-primary-medium: "arimo-medium";
  --ff-primary-regular: "arimo-regular";
  --ff-primary-semiBold: "arimo-semiBold";

  --global-radius: 5px;
  --fs-light: 14px;
  --fs-regular: 16px;
  --fs-medium: 18px;
  --fs-semibold: 20px;
  --fs-bold: 22px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1180px !important;
}

body h1 {
  font-size: 60px;
  font-weight: 500;
  font-family: var(--ff-primary-bold);
}
body h2 {
  font-size: 50px;
  font-weight: 500;
  font-family: var(--ff-primary-bold);
}
body h3 {
  font-size: 42px;
  font-weight: 500;
  font-family: var(--ff-primary-bold);
}
body h4 {
  font-size: 30px;
  font-weight: 500;
  font-family: var(--ff-primary-semiBold);
}
body h5 {
  font-size: 27px;
  font-weight: 500;
  font-family: var(--ff-primary-medium);
}
body h6 {
  font-size: 22px;
  font-weight: 500;
  font-family: var(--ff-primary-medium);
}

body p {
  font-size: 16px;
  font-family: var(--ff-primary-regular);
}
.p-17 {
  font-size: 17px;
  font-family: var(--ff-primary-regular);
}
.p-16 {
  font-size: 16px;
  font-family: var(--ff-primary-regular);
}
a {
  text-decoration: none !important;
  font-family: var(--ff-primary-regular);
}

.custom_container {
  max-width: 70%;
  margin: 0 auto;
  width: 70%;
}

.t-t-c {
  text-transform: capitalize;
}

@media screen and (max-width: 1540px) {
  body h1 {
    font-size: 55px;
  }
  body h2 {
    font-size: 45px;
  }
  body h3 {
    font-size: 38px;
  }
  body h4 {
    font-size: 33px;
  }
  body h5 {
    font-size: 28px;
  }
  body h6 {
    font-size: 20px;
  }
  body p {
    font-size: 16px;
  }
}

@media screen and (max-width: 1199px) {
  body h1 {
    font-size: 50px;
  }
  body h2 {
    font-size: 40px;
  }
  body h3 {
    font-size: 34px;
  }
  body h4 {
    font-size: 30px;
  }
  body h5 {
    font-size: 20px;
  }
  body h6 {
    font-size: 18px;
  }
  body p {
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) {
  body h1 {
    font-size: 46px;
  }
  body h2 {
    font-size: 36px;
  }
  body h3 {
    font-size: 31px;
  }
  body h4 {
    font-size: 27px;
  }
  body h5 {
    font-size: 19px;
  }
  body h6 {
    font-size: 17px;
  }
  body p {
    font-size: 15px;
  }
}

@media screen and (max-width: 425px) {
  body h1 {
    font-size: 42px;
  }
  body h2 {
    font-size: 30px;
  }
  body h3 {
    font-size: 28px;
  }
  body h4 {
    font-size: 25px;
  }
  body h5 {
    font-size: 18px;
  }
  body h6 {
    font-size: 16px;
  }
  body p {
    font-size: 15px;
  }
}
